*{
    margin: 0;
    padding: 0;
}
input:focus{
    outline: none;
}

body {
    background-color: rgba(124, 153, 255, 0.253);
}

#header{
    background-color:bisque;
    
    height: 5rem;
    display: flex;
    align-items: center;
    
    position:fixed;
    right: 0;
    left: 0;
    box-shadow: 1px 3px 6px red;
    z-index: 101;
}
.header-left{
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-left: 3rem;
}

#footer{
    background-color: antiquewhite;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 1px -3px 6px red;
    z-index: 101;
}
.footer-left{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    position: relative;
    z-index: 100;
    padding: 6rem 3rem 0 3rem;
}
.grid-item{
    display: flex;
    
    color: white;
    background-color: rgb(100, 201, 255);
    min-height: 12rem;
    position: relative;
}

/* BACKGROUND CSS */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
    
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
    
}
.bgBottom {
    z-index: 5;
    
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 200px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 220px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 200px;
    background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* BACKGROUND CSS ^^^^^^^^^^^^^^^^^^*/
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
.searchBar{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 26px;
    
    padding-left: 8px;
    font-size: 14px;
    border: none;
     box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
     caret-color: blue;
}

.animeQuotes , .qotd , .qr , .riddle , .weather {
    display: flex;
    align-items: center;
}
.animeQuotes button, .qotd button, .qr button, .riddle button, .weather button{
    border: none;
    padding: 5px 9px;
    font-family: 'Roboto', sans-serif;
    transition: box-shadow 0.2s ease ;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.animeQuotes button:active,
.qr button:active,
.riddle button:active,
.weather button:active {
    transform: translate(0px, 2px); 
    box-shadow: none;
}

/*COMPONENTS */


/*weather */
.weather{
    width: 100%;
}
.weatherSearch{
    display: flex;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.weatherInfo {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto; /* Two columns of auto width */
    grid-gap: 10px; /* Gap between grid cells */
    padding-left: 1rem;
    padding-top: 3rem;
}

.temp {
    grid-row: 1/span 2; /* Display in the first row */
    grid-column: 1 ; /* Span across both columns */
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;

}

.desc {
    grid-row: 1; /* Display in the second row */
    grid-column: 2; /* Display in the first column */
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.weatherImage img {
    grid-row: 2 ; /* Span both rows */
    grid-column: 2; /* Display in the second column */
    height: 1000px;
    width: 1000px;
}


/* anime quotes */

.animeQuotes input{
    width: 230px;
}
.animeSearch{
    display: flex;
    position: absolute;
    top: 1rem;
    left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0);
}

/*qr code */

.qr{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-self: center;
    justify-content: center;
    padding-left: 5%;
}
.qrSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
   
}
.qrSearch input{
    width: 200px;
    text-align: center;
}
.qrSearch button{
    width: 80px;
}

/* QOTD */

.qotd{
    display: flex;
    padding-left: 1rem;
    padding-top: 2rem;
    padding: 2rem 1rem 0 1rem;
}

.qotd button{
    display: flex;
    position: absolute;
     top: 1rem;
    left: 45%;
}

.qotd button:active{
    transform: translate(2px,2px);
    box-shadow: none;
}

.qotd:first-child{
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
}


/* Riddle */ 
.riddle{
   
}
.riddleSubmit{
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
    
}

.riddleQues{
    font-size: 1.2rem;
   font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;

}
.riddleAns{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}
.riddleShow{
    
}