*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(72, 72, 72);
}

#header{
    background-color:bisque;
    
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    right: 0;
    left: 0;
    box-shadow: 1px 3px 6px red;
    z-index: 101;
}
.header-left{
    color: rgb(0, 0, 0);
}

#footer{
    background-color: antiquewhite;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 1px -3px 6px red;
    z-index: 101;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

    padding-top: 6rem;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(100, 201, 255);
    height: 12rem;
}